.homePage {
  display: flex;
  height: 100%;

  .textContainer {
    flex: 3;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;
      padding-right: 100px;

      .title {
        font-size: 64px;
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        h1 {
          font-size: 36px;
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .imgContainer {
    position: relative;
    display: flex;
    align-items: center;
    flex: 2;
    background-color: #fcf5f3;

    img {
      position: absolute;
      right: 0;
      width: 115%;
    }
  }
}
