.chat {
  display: flex;
  flex-direction: column;
  height: 100%;

  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;

    h1 {
      font-weight: 300;
    }

    .message {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
      border-radius: 10px;
      background-color: white;
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .chatBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      font-weight: bold;
      background-color: #f7c14b85;

      .user {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

      }

      .close {
        cursor: pointer;
      }
    }

    .center {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 350px;
      overflow: scroll;
      padding: 20px;

      .chatMessage {
        width: 50%;

        &.own {
          align-self: flex-end;
          text-align: right;
        }

        span {
          padding: 2px;
          border-radius: 5px;
          font-size: 12px;
          background-color: #f7c14b39;
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      border-top: 2px solid #f7c14b85;

      textarea {
        flex: 3;
        height: 100%;
        padding: 20px;
        border: none;
      }

      button {
        flex: 1;
        height: 100%;
        background-color: #f7c14b85;
        border: none;
        cursor: pointer;
      }
    }
  }
}
