@import "../../responsive.scss";

.layout {
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;

  @include lg {
    max-width: 1288px;
  }

  @include md {
    max-width: 768px;
  }

  @include sm {
    max-width: 640px;
  }

  .content {
    flex: 1;
    height: calc(100vh - 100px);
  }
}
