nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    img {
      width: 20px;
    }
  }

  .right {
    flex: 2;
  }
}
